/* COLOR PALETTE
   blue, dark:      #3B5987
   blue, light:     #A7CCED
   green:           #81C784
   orange:          #FF8A65
*/

/**************************************************
 GLOBAL
**************************************************/

/* Body */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #A7CCED;
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.body-content {
    background-color: white;
    padding: 2rem 3rem;
}

    .body-content#login-form {
        padding: 2rem 3rem;
    }

/* Text */
body,
h1, h2, h3, h4, h5, h6 {
    color: #575E67;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

/* Tables */
table.tablesorter thead tr th {
    background-image: none !important;
    padding-right: 2.5rem;
    position: relative;
    white-space: nowrap;
}

    table.tablesorter thead tr th.header:after,
    table.tablesorter thead tr th.headerSortUp:after,
    table.tablesorter thead tr th.headerSortDown:after {
        font-family: FontAwesome;
        display: block;
        position: absolute;
        top: 9px;
        right: 5px;
    }

    table.tablesorter thead tr th.header:after {
        content: "\f0dc";
    }

    table.tablesorter thead tr th.headerSortUp:after {
        content: "\f0de";
    }

    table.tablesorter thead tr th.headerSortDown:after {
        content: "\f0dd";
    }

/* Buttons */
.btn {
    font-weight: bold;
}

/* Buttons, primary */
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active, .btn-primary:visited,
.btn-primary:active:hover, .btn-primary.active:hover {
    background-color: #81C784;
    color: white;
    border: none;
    outline: none;
}

/* Icons */
.fa {
    padding: 0 0.25rem;
}

/* Helpers */
.top-buffer {
    margin-top: 2rem;
}

/**************************************************
 Navigation
**************************************************/

/* Navbar */
.navbar {
    background-color: #3B5987;
    border-color: transparent;
    font-weight: bold;
}

    .navbar .btn {
        background-color: #FF8A65;
        color: white;
    }

    .navbar .navbar-brand,
    .navbar .navbar-nav > li > a {
        color: white;
    }

        .navbar .navbar-brand:hover,
        .navbar .navbar-brand:focus,
        .navbar .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: white;
        }

        .navbar .navbar-brand .fa-ticket {
            transition: transform 0.2s ease 0s;
        }

        .navbar .navbar-brand:hover .fa-ticket {
            transform: rotate(25deg);
        }


/* Tabs */
.nav-tabs {
    border-bottom: 4px solid #dddddd;
}

    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #bbbbbb;
    }

        .nav-tabs > li.active > a,
        .nav-tabs > li > a:hover {
            background: transparent;
            border: none;
            color: #FF8A65 !important;
        }

        .nav-tabs > li > a::after {
            background: #FF8A65;
            content: "";
            height: 4px;
            width: 100%;
            position: absolute;
            bottom: -3px;
            left: 0;
            transition: all 250ms ease;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after,
    .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-content {
    padding: 3rem 2.5rem;
}

/**************************************************
 LOGIN & REGISTER VIEWS
**************************************************/

.small-form h2,
.small-form p {
    text-align: center;
}

.small-form .center-content {
    margin: 0 auto;
    width: 50%;
}

.input-group {
    width: 100%;
}

.input-group-addon {
    width: 45px;
}

/**************************************************
 MISCELLANEOUS
**************************************************/

/* Scrollbar */
div::-webkit-scrollbar {
    width: 15px;
}

div::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-left: 1px solid #f1f1f1;
}

div::-webkit-scrollbar-thumb {
    background-color: rgba(191, 191, 191, 0.6); /* Same as #bfbfbf */
    border-radius: 10px;
}

    div::-webkit-scrollbar-thumb:hover {
        background-color: rgba(191, 191, 191, 8.0); /* Same as #bfbfbf */
    }

/* Helpers */
.top-buffer {
    margin-top: 1rem;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
